<html>
<head>
  <title>Quizzy Quiz</title>
</head>
<body>

<h2>Quizzy Quiz</h2>

<div class="quiz-app">
  <form class="start">
    <h3>Enter your name:</h3>
    <input type="text" name="playerName" />
    <button id="startquiz">Start Quiz</button>
  </form>

  <form class="quiz-question" style="display: none">
    <div class="content"></div>
    <div class="options"></div>

    <div class="awaiting-answer">
      <button type="submit">Submit Answer</button>
    </div>
    <div class="answered" style="display: none">
      <button>Next Question</button>
      <label>...</label>
    </div>
  </form>

  <div class="final-results" style="display: none">
    <h3>You're done!</h3>
    <h4 class="player-name"></h4>
    <label class="score"></label>
  </div>
</div>










<script type="text/javascript">


// var $quizView = $('.quiz-app');
// $.ajax({
// 	url: '/quizzes',
// 	success: function(data) {
// 		new Quizzy.QuizPresenter($ quizView,quizData);
// 	}
// })




  var $quizView = $('.quiz-app');
  var presenter = new Quizzy.QuizPresenter( $quizView, Quizzy.hardcodedQuizData );
</script>

</body>
</html>